<table class="table table-bordered border-primary table-hover" style="text-align: center;">
    <thead class="table-primary">
        <th>대분류</th><th>대분류명</th><th>소분류</th><th>소분류명</th><th>시작일</th><th>종료일</th>
        <th colspan="2">메뉴</th>
    </thead>
    <tbody>
        <% if (codes.length > 0) { %>
            <% for (var i = 0; i < codes.length; i++) { %>
                <tr>
                    <td><%= codes[i].main_id %></td><td><%- codes[i].main_name %></td><td><%= codes[i].sub_id %></td>
                    <td><%- codes[i].sub_name %></td><td><%= codes[i].start %></td><td><%= codes[i].end %></td>
                    <td><a href="/code/update/<%= codes[i].main_id %>/<%= codes[i].sub_id %>/<%= codes[i].start %>" style="text-decoration: none;">수정</a></td>
                    <td><a href="/code/delete/<%= codes[i].main_id %>/<%= codes[i].sub_id %>/<%= codes[i].start %>" style="text-decoration: none;" onclick="if(confirm('정말로 삭제하시겠습니까?')==false) return false">삭제</a></td>
                </tr>
            <% } %>
        <% } else { %>
            <tr>
                <td colspan="8">자료가 없습니다.</td>
            </tr>
        <% } %>
    </tbody>
</table>

<% if (codes.length === 0) { %>
    <p>자료가 없으니 코드 추가 버튼으로 코드를 추가해 주십시오.</p>
<% } %>

<a href="/code/create"><button class="btn btn-outline-secondary btn-sm" type="submit">코드 추가</button></a>
